@import "variables";

.button {
    @extend %info_block_small;

    border: none;
    outline:none;
    padding: 3.200vw;
    margin-bottom: 3.200vw;
    display: flex;

    .info_container {
        flex-grow: 1;
        padding: 0 3.200vw 0 3.200vw;

        .title {
            margin-bottom: 1.067vw;

            @extend %fontRoboto;
            font-weight: 400;
            font-size: 4.533vw;
            line-height: 5.893vw;
            text-align: left;

            color: #FFFFFF;
        }

        .title2 {
            margin-bottom: 1.067vw;

            @extend %fontRoboto;
            font-weight: 400;
            font-size: 3.733vw;
            line-height: 4.853vw;
            text-align: left;

            color: #808080;
        }

        .text {
            @extend %fontRoboto;
            font-weight: 400;
            font-size: 4.533vw;
            line-height: 5.893vw;
            text-align: left;

            color: #0075FF;
        }

        .text2 {
            border-bottom: 1px solid #606060;
            padding-bottom: 1.067vw;
            padding-left: 0;
            background: 0;
        }

        .input {
            width: 100%;

            @extend %fontRoboto;
            font-weight: 400;
            font-size: 4.533vw;
            line-height: 5.893vw;
            text-align: left;
            padding-left: 0;

            color: #F0F0F0;
            background: 0;
            border: 0;
        }

        .input:active, :hover, :focus {
            outline: 0;
            outline-offset: 0;
        }

        .grey {
            color: #808080;
        }

        .blue {
            color: #0A84FF;
        }

    }

    .image_button {
        align-self: flex-end;
        border-radius: 3.2vw;
        @extend %corners60;

        .image {
            border-radius: 3.2vw;
            width: 12.800vw;
            height: 12.800vw;
        }
    }
}

.button::after {
    z-index: 3;
    content: '';
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    background: #EF5143;

    transition: opacity 500ms ease, width 1500ms;
}

.buttonExit::after {
    opacity: 1;
    width: 100%;
}

.buttonExitActive::after {
    opacity: 1;
    width: 100%;
}

.buttonEnter {
    opacity: 0;
    transition: opacity 1500ms ease;
}

.buttonEnterActive {
    opacity: 1;
}

.redBorder {
    border: 1px solid #EF5143;
}

.blueBorder {
    border: 1px solid #0A84FF;
}