@import "variables";

.links {
    display: flex;
    justify-content: left;
    align-items: center;

    background: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.block_title {
    @extend %block_title;
    margin-bottom: 3.200vw;
    padding-left: 2.133vw;
}